.heading
{
font-size:25px;
width:100%;
margin:0px;
background-color:lightpink;
}

.note
{
font-size:15px;
color:black;
}

body
{
background-color:lightskyblue;
}

.div_speed
{
float:left;
}

#div_speed_img
{
width:200px;
border-radius:40px;
}

.div_volume
{
float:right;
}

#div_volume_img
{
width:200px;
border-radius:40px;
}

.play_button
{
width:120px;
font-size:25;
color:white;
}

.stop_button
{
width:130px;
font-size:25;
color:white;
}

canvas
{
border:5px double white;
border-radius:10px;
}